<fieldset id="filters" class="collapsible collapsed">
  <legend onclick="toggleFieldset(this);"><%=l(:label_filters)%></legend>
  <div style="display: none;">

    <table id="filters-table" style="width:60%;">
      
    
      
      
      
    
            <td>
          <%= link_to l(:button_apply), '#', 
            class: 'wg-external-submit-button icon icon-report', data: {'grid-name' => 'time_checks_grid'} %>
          <%= link_to l(:button_clear), '#', 
            class: 'wg-external-reset-button icon icon-reload', data: {'grid-name' => 'time_checks_grid'} %>      
          </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </table>

  </div>
</fieldset>