<h1> Check-In/Check-Out </h1>

<h3><% "Welcome, " + User.current.name + "!" %></h3>

<strong><p><%= link_to 'Check-in', checkin_path %></p></strong>

<strong><p><%= link_to 'Check-out', checkout_path %></p></strong>
