<table>
  <tbody>
    <tr>
      <th>Leave Type(s)</th>
      <td><input type="text" id="settings_leave_types" 
                     value="<%= settings['leave_types'] %>" 
             name="settings[leave_types]" >
        <th><small> For multiple Leave Types, enter values separated by comma (,) </small></th>
    </tr>
    <tr>
      <th>Default Type</th>
      <td><input type="text" id="settings_default_type" 
                     value="<%= settings['default_type'] %>" 
             name="settings[default_type]" >
    </tr>
  </tbody>
</table>
