/* line 9, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wg-detached-filter .text-filter-container input, .wice-grid .text-filter-container input {
  width: auto;
  margin-right: 10px;
  display: inline;
}
/* line 16, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves//stylesheets/wice_grid.css.scss */
.wg-detached-filter a.date-label, .wice-grid a.date-label {
  text-decoration: none;
}
/* line 17, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wg-detached-filter a.date-label:hover, .wice-grid a.date-label:hover {
  text-decoration: line-through;
}
/* line 19, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wg-detached-filter .clickable, .wice-grid .clickable {
  cursor: pointer;
  margin-bottom: 2px;
  margin-right: 2px;
}
/* line 25, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wg-detached-filter .ui-datepicker-trigger, .wg-detached-filter .wg-detached-filter .ui-datepicker-trigger, .wice-grid .ui-datepicker-trigger, .wice-grid .wg-detached-filter .ui-datepicker-trigger {
  cursor: pointer;
}
/* line 31, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wg-detached-filter .custom-dropdown-container .expand-multi-select-icon, .wg-detached-filter .custom-dropdown-container .collapse-multi-select-icon, .wice-grid .custom-dropdown-container .expand-multi-select-icon, .wice-grid .custom-dropdown-container .collapse-multi-select-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
/* line 39, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wg-detached-filter .custom-dropdown-container .collapse-multi-select-icon, .wice-grid .custom-dropdown-container .collapse-multi-select-icon {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/collapse.gif) no-repeat;
}
/* line 43, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wg-detached-filter .custom-dropdown-container .expand-multi-select-icon, .wice-grid .custom-dropdown-container .expand-multi-select-icon {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/expand.gif) no-repeat;
}

/* line 50, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid {
  background-color: #D1D0CE;
  /* in case of twitter bootstrap :) */
}
/* line 53, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .desc, .wice-grid .asc {
  padding-right: 18px;
  text-decoration: none;
}
/* line 58, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .desc {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/arrow_down.gif) right no-repeat;
}
/* line 61, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .asc {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/arrow_up.gif) right no-repeat;
}
/* line 65, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .submit.clickable {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/table_refresh.png) no-repeat;
  width: 50px;
  height: 20px;
  float: left;
  margin-left: -100%;
}

.wice-grid .ui-datepicker-trigger{
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/calendar_view_month.png) no-repeat;
  width: 50px;
  height: 16px;
  padding: 0px 17px 2px 20px;
}
/* line 70, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .reset.clickable {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/table.png) no-repeat;
  width: 50px;
  height: 20px;
}
/* line 77, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .wg-show-filter.clickable,
.wice-grid .wg-hide-filter.clickable {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/page_white_find.png) no-repeat;
  width: 16px;
  height: 16px;
}
/* line 83, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .export-to-csv-button.clickable {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/page_white_excel.png) no-repeat;
  width: 16px;
  height: 16px;
}
/* line 88, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .clickable.select-all {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/tick_all.png) no-repeat;
  width: 16px;
  height: 16px;
  float: left;
}
/* line 94, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .clickable.deselect-all {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/untick_all.png) no-repeat;
  width: 16px;
  height: 16px;
  float: left;
}
/* line 102, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid thead th select {
  width: auto;
}
/* line 106, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .my_pagination {
  margin: 0px;
  float: left;
}
/* line 112, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid tr.wg-filter-row input[type=text] {
  width: 100px;
}
/* line 116, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid .pagination_status {
  font-weight: bold;
  float: right;
}

/* line 124, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid-query-panel li {
  list-style-type: none;
}
/* line 126, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid-query-panel ul {
  margin-left: 0;
}
/* line 128, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
.wice-grid-query-panel a.wice-grid-delete-query .delete-icon {
  background: transparent url(/plugin_assets/redmine_leaves/images/icons/grid/delete.png) no-repeat;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 0px;
}

/* line 135, /home/arkhitech/Desktop/projects/reality_tours/app/plugin_assets/redmine_leaves/stylesheets/wice_grid.css.scss */
input.wice-grid-save-query-field {
  width: auto;
  display: inline-block;
  margin-right: -128px;
  display: block;
  text-align: justify;
  
}
.wice-grid-save-query-button{
   display: block;
   padding: 2px;
   text-align: justify;
   margin-top: 6px;
}

li {
  line-height: 18px;
}

#export-button {
    float: right;
    margin-left: 5px;
}
