<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Time Log Reminder for Issue#<%= @issue.id %></h1>
    <h3>Assignee: <%= @user.name %></h3>
    <p>
      This is to inform you that you have not logged time for Issue#<%= @issue.id %>
      <br/>
      Kindly log time for this issue.
    </p>
  </body>
</html>