<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redmine_leaves', :plugin => 'redmine_leaves' %>
<% end %>
<div id="user-time-report-menu">
  <%= render_menu(:user_time_report_menu) %>
</div>