<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redmine_leaves', :plugin => 'redmine_leaves' %>
<% end %>
<div id="user-time-analytics-menu">
  <%= render_menu(:user_time_analytics_menu) %>
</div>